body{
    background-color: rgb(54, 4, 54);
    color: white;
    /* overflow: hidden; */
}

.wave1{
    z-index: 1;
    /* position: absolute; */
   
    margin-bottom: -74%;

}

.wave2{
    z-index: -1;
   
     /* position: relative; */
    /* margin-bottom: -48%;
     */
     margin-bottom: -6%;
     margin-right: 2%;
    
    
}


.cards{
   z-index: 2;
   /* margin-bottom: -10%; */
   
}